p{ 

    background-color: aqua;
}
a{
    background-color: rgb(198, 218, 21);
}
div{background-color: brown;

}
span{
    background-color: rgb(109, 109, 148);
}
body{

   background-image: none;
   background-color: bisque;
}
#kjb{
    
    background-color: rgb(148, 43, 87);
}
.veu{
    background-color: blueviolet;
}
