body{
    background-color:  burlywood;
}

a:visited{
    background-color: rgb(216, 110, 24);
}
 h1{
    font-family: 'Sixtyfour';
    font-size: 50px;
 }
 h3{
    background-color: blueviolet;
    line-height: 1.5;
 }